registry=https://registry.npmmirror.com/
manage-package-manager-versions=false
package-manager-strict=false
network-concurrency=1
fetch-timeout=300000
fetch-retries=5
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=120000
confirm-modules-purge=false
confirmModulesPurge=false
